@use "@/theme/_mixins" as *;

.root {
  padding: 10px 20px;
  border-bottom: 0.4px solid;
}
.logo {
  font-size: rem(50);
  font-weight: 900;
}

@include small {
  .logo {
    font-size: rem(30);
  }
}
